In [1]:
import pandas as pd

In [12]:
F04 = pd.read_csv(r"C:\Users\sebas\Documents\GitHub\ClimAIte\Calibration\Classroom Temperatures\F04 Classroom 10 Temperature.csv", parse_dates=["DateTime"], index_col=["DateTime"])

In [15]:
df1

                     Temperature
DateTime
2021-04-23 00:06:00         19.8
2021-04-23 00:16:00         19.7
2021-04-23 00:26:00         19.7
2021-04-23 00:36:00         19.6
2021-04-23 00:46:00         19.6
...                          ...
2022-10-05 15:23:00         21.9
2022-10-05 15:32:00         21.9
2022-10-05 15:33:00         21.5
2022-10-05 15:43:00         22.0
2022-10-05 15:53:00         21.1

[78695 rows x 1 columns]

In [16]:
df1.resample('H').mean().round(1)

                     Temperature
DateTime
2021-04-23 00:00:00         19.7
2021-04-23 01:00:00         19.4
2021-04-23 02:00:00         19.2
2021-04-23 03:00:00         18.9
2021-04-23 04:00:00         18.7
...                          ...
2022-10-05 11:00:00         21.1
2022-10-05 12:00:00         21.5
2022-10-05 13:00:00         21.7
2022-10-05 14:00:00         22.0
2022-10-05 15:00:00         21.8

[12736 rows x 1 columns]